AZURE_EMBEDDING_ENDPOINT=https://your-resource.openai.azure.com/openai/deployments/your-deployment/embeddings?api-version=2023-05-15
AZURE_API_KEY=your-api-key-here
CLAUDE_MODEL=model_here
CLAUDE_API_KEY=
CLAUDE_ENDPOINT=
PORT=3000
